*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Variables */
/* Colors */
body {
  background-color: #5a5a10;
  font-size: 16px;
  color: #000000; }

.body-frame {
  border: 3px solid #f0f0f0;
  height: 10000px; }

h1 {
  text-align: center;
  text-transform: uppercase; }

.row {
  display: flex;
  justify-content: center;
  padding: 10px; }

.new-box {
  width: 400px;
  height: 400px;
  background-color: green; }

.new-box {
  width: 100px;
  height: 100px;
  background: red;
  position: relative;
  animation: myAnimation 3s infinite;
  animation-fill-mode: forwards; }
  .new-box .clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

@keyframes myAnimation {
  from {
    top: 0px; }
  to {
    top: 300px; } }
