*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Variables */
/* Colors */
body {
  background-color: #5a5a10;
  font-size: 16px;
  color: #000000; }

h1 {
  text-align: center;
  text-transform: uppercase; }

.main-box {
  min-height: 200px;
  width: 200px; }

.box-a {
  width: 100px;
  height: 100px;
  margin: 10px;
  background: red;
  position: relative;
  animation: mymove 5s infinite;
  border-radius: 50px;
  animation-delay: 2s; }

.box-b {
  width: 100px;
  height: 100px;
  margin: 10px;
  background: green;
  position: relative;
  animation: mymove 5s infinite;
  animation-delay: 2s; }

.box-c {
  width: 100px;
  height: 100px;
  margin: 10px;
  background: blue;
  position: relative;
  animation: myMove 5s infinite;
  animation-delay: 2s;
  border-radius: 50px; }

@keyframes mymove {
  from {
    top: 0px; }
  to {
    left: 200px; } }

@keyframes myMove {
  from {
    top: 0px; }
  to {
    right: 200px; } }

.row {
  display: flex;
  justify-content: space-around;
  padding: 10px; }

.new-box {
  width: 400px;
  height: 400px;
  background-color: green; }

.new-box {
  width: 100px;
  height: 100px;
  background: red;
  position: relative;
  animation: myAnimation 3s infinite;
  animation-fill-mode: forwards; }

@keyframes myAnimation {
  from {
    top: 0px; }
  to {
    top: 300px;
    background-color: #4fe64f;
    border-radius: 50px; } }
